<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xgsheng.backend.mapper.ImageMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO image(user_id, url, local_url, md5, width, height, create_time)
        VALUES (#{userId}, #{url}, #{localUrl}, #{md5}, #{width}, #{height}, #{createTime})
    </insert>

    <select id="findByMd5" resultType="com.xgsheng.backend.entity.Image">
        SELECT * FROM image WHERE md5 = #{md5} LIMIT 1
    </select>

    <select id="findById" resultType="com.xgsheng.backend.entity.Image">
        SELECT * FROM image WHERE id = #{id} LIMIT 1
    </select>

    <select id="findByTag" resultType="com.xgsheng.backend.entity.Image">
        SELECT i.*
        FROM image i
        INNER JOIN image_tag it ON i.id = it.image_id
        INNER JOIN tag t ON it.tag_id = t.id
        WHERE t.name = #{tag}
        ORDER BY i.create_time DESC
    </select>

    <select id="findAll" resultType="com.xgsheng.backend.entity.Image">
        SELECT * FROM image ORDER BY create_time DESC
    </select>

    <select id="findAllTagNames" resultType="java.lang.String">
        SELECT DISTINCT t.name
        FROM tag t
        INNER JOIN image_tag it ON t.id = it.tag_id
        ORDER BY t.name ASC
    </select>

    <select id="findTagNamesByImageId" resultType="java.lang.String">
        SELECT t.name
        FROM tag t
        INNER JOIN image_tag it ON t.id = it.tag_id
        WHERE it.image_id = #{imageId}
        ORDER BY t.name ASC
    </select>

    <select id="findTagIdByName" resultType="java.lang.Long">
        SELECT id FROM tag WHERE name = #{name} LIMIT 1
    </select>

    <insert id="insertTag">
        INSERT INTO tag(name)
        VALUES (#{name})
    </insert>

    <insert id="insertImageTag">
        INSERT INTO image_tag(image_id, tag_id)
        VALUES (#{imageId}, #{tagId})
    </insert>

    <delete id="deleteImageTagByImageId">
        DELETE FROM image_tag WHERE image_id = #{imageId}
    </delete>

    <delete id="deleteById">
        DELETE FROM image WHERE id = #{id}
    </delete>

</mapper>
